[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/easy_profiler"]
	path = 3rdparty/easy_profiler
	url = https://github.com/yse/easy_profiler
[submodule "3rdparty/optick"]
	path = 3rdparty/optick
	url = https://github.com/bombomby/optick.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdparty/etc2comp"]
	path = 3rdparty/etc2comp
	url = https://github.com/google/etc2comp
[submodule "3rdparty/taskflow"]
	path = 3rdparty/taskflow
	url = https://github.com/taskflow/taskflow.git
