[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/easy_profiler"]
	path = 3rdparty/easy_profiler
	url = https://github.com/yse/easy_profiler
[submodule "3rdparty/optick"]
	path = 3rdparty/optick
	url = https://github.com/bombomby/optick.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdparty/etc2comp"]
	path = 3rdparty/etc2comp
	url = https://github.com/google/etc2comp
[submodule "3rdparty/taskflow"]
	path = 3rdparty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/vulkan"]
	path = 3rdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "3rdparty/gli"]
	path = 3rdparty/gli
	url = https://github.com/g-truc/gli
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/ImGuizmo"]
	path = 3rdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "3rdparty/bullet"]
	path = 3rdparty/bullet
	url = https://github.com/bulletphysics/bullet3.git
